docker.enable = true


params {
  aws_batch_cli_path                  = '/home/ec2-user/miniconda/bin/aws' //where in the ami the AWS-cli present
  aws_batch_fetch_instance_type       = true
  aws_batch_max_parallel_transfers    = 2
  aws_region                          = 'eu-west-1'
  aws_batch_default_queue             = "optimal-instance-1tb-ami-spot-queue"
  config                              = "conf/standard.config"
  cleanup                             = fasle
}

profiles {
  // enables custom config execution in CloudOS with --config
  standard {includeConfig params.config}
}

process {
  cpus = 2
  memory = 4.GB
  errorStrategy = { task.exitStatus in [203] ? 'ignore' : 'finish' }
  container = "quay.io/lifebitai/cloudos-cli:0.0.2"
  queue = "${params.aws_batch_default_queue}" 
}

