docker.enabled = true

executor {
  name = 'awsbatch'
}

aws.batch.volumes = '/home/ec2-user/.aws:/root/.aws'
aws.batch.cliPath = params.aws_batch_cli_path
aws.batch.fetchInstanceType = params.aws_batch_fetch_instance_type
aws.batch.maxParallelTransfers = params.aws_batch_max_parallel_transfers
aws.region = params.aws_region